/* components/common.module.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .headerButton {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: #2174ab;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .headerButton:hover {
    background-color: #174767;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .message {
    color: rgb(11, 168, 11);
    margin: 1rem 0;
  }
  
  .error {
    color: rgb(188, 2, 2);
    margin: 1rem 0;
  }
  
  .button {
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: #197640;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .button:hover {
    background-color: #0b2f1a;
  }

  .deleteButton {
    background-color: #af3b2e;
  }
  
  .deleteButton:hover {
    background-color: #4e1711;
  }

  .neutralButton {
    background-color: #686868;
  }
  
  .neutralButton:hover {
    background-color: #262525;
  }
  
  .button.secondary {
    background-color: #ac3b2f;
  }
  
  .button.secondary:hover {
    background-color: #571912;
  }

  .fadeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  /* Modal box */
  .fadeModal {
    background: #1b1e1f;
    padding: 2rem;
    border-radius: 4px;
    max-width: 300px;
    width: 100%;
    text-align: center;
    animation: slideDown 0.3s ease-in-out;
  }
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .container {
      padding: 1rem;
    }
  
    .title {
      font-size: 1.5rem;
    }
  
    .button {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  
    .headerButton {
      padding: 0.4rem 0.8rem;
      font-size: 0.9rem;
    }
  }
  